@import '../../scss/variables';
@import '../../scss/mixins';

.contact-bgImg-container{
    // @include bgImg(100vh, $main-bgImg-path);

}

.contacts{
    // border:2px solid red;
    height: 100vh;
    margin-top: 17vh !important;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;


    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.8rem !important;
        gap: 2rem 2rem ;
       
        
        justify-content: center;
        align-items: center;
    }
    .text-secondary{
        color:#be6adf;
    }
    &__item{
        line-height: 2.5rem;

    }
}