/* === Section Header === */

h2{
    margin: 3rem;
    margin-top: 8rem;
    text-align: center;
    font-size: 3rem;
    color: #BE6ADF;          }
.resumeLink{
    display: flex;
    justify-content: center;
    text-decoration: underline; 
    margin-bottom: 2rem;
    font-size: 1.5rem;
    
}
.header{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
  
    .text-shadow{
        color:blue;
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 0.2rem;
        animation: flicker 0.8s ease-in-out infinite alternate;
        &:hover{
            color: blueviolet;
            cursor: pointer;
        }
    }
    @keyframes flicker {
        0%{
            opacity: 0.5;
            text-shadow: 2px 2px 10px
            red;
        }
        100%{
            opacity: 1;
            text-shadow: 2px 2px 10px yellow;
        }
        
    }
}