@import '../../scss/variables';
@import '../../scss/mixins';



h2{
    margin-bottom:-8rem !important;
    margin-top: 10rem !important;
    text-align: center;
    font-size: 3rem !important;
    font-weight: 800;
    color: #BE6ADF !important; }

.project-bgImg-container{
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .projects__bio-image{
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.projects{
    &__items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 5rem;
        
      
        gap: 2rem ;
    }
    &__item{
        cursor: pointer;
        box-shadow: 10px 10px 10px #b831ee3f;
        position: relative;
        border-radius: 10px;
      
        max-height: 320px;
        img{
            min-width: 250px;
            max-height: 100%;
            min-height: 100%;
            border-radius: 10px;
            margin: auto;
        }

        &:hover{
            
            
            
            box-shadow: 10px 10px 10px #b831ee;
        
          
           
            @include transition(2s)
            
        }
       
    }
}